<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>KWAltChapterImage</key>
		<data>
		</data>
		<key>KWAltChapterSelectionImage</key>
		<data>
		</data>
		<key>KWAltRootImage</key>
		<data>
		</data>
		<key>KWAltTitleSelectionImage</key>
		<data>
		</data>
		<key>KWChapterButtonDisable</key>
		<false/>
		<key>KWChapterButtonFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWChapterButtonFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWChapterButtonFontSize</key>
		<real>48</real>
		<key>KWChapterButtonH</key>
		<string>60</string>
		<key>KWChapterButtonImage</key>
		<data>
		</data>
		<key>KWChapterButtonMaskH</key>
		<string>60</string>
		<key>KWChapterButtonMaskImage</key>
		<data>
		</data>
		<key>KWChapterButtonMaskLineWidth</key>
		<integer>2</integer>
		<key>KWChapterButtonMaskW</key>
		<string>360</string>
		<key>KWChapterButtonMaskX</key>
		<string>180</string>
		<key>KWChapterButtonMaskY</key>
		<string>226</string>
		<key>KWChapterButtonString</key>
		<string>章節</string>
		<key>KWChapterButtonW</key>
		<string>360</string>
		<key>KWChapterButtonX</key>
		<string>180</string>
		<key>KWChapterButtonY</key>
		<string>228</string>
		<key>KWChapterOverlayImage</key>
		<data>
		</data>
		<key>KWChapterSelectionDisable</key>
		<false/>
		<key>KWChapterSelectionFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWChapterSelectionFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWChapterSelectionFontSize</key>
		<integer>24</integer>
		<key>KWChapterSelectionH</key>
		<string>50</string>
		<key>KWChapterSelectionImage</key>
		<data>
		</data>
		<key>KWChapterSelectionOverlayImage</key>
		<data>
		</data>
		<key>KWChapterSelectionString</key>
		<string>章節:</string>
		<key>KWChapterSelectionW</key>
		<string>122</string>
		<key>KWChapterSelectionX</key>
		<string>30</string>
		<key>KWChapterSelectionY</key>
		<integer>480</integer>
		<key>KWDVDNameDisableText</key>
		<false/>
		<key>KWDVDNameFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWDVDNameFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWDVDNameFontSize</key>
		<real>48</real>
		<key>KWDVDNameH</key>
		<string>80</string>
		<key>KWDVDNameW</key>
		<integer>720</integer>
		<key>KWDVDNameX</key>
		<string>0</string>
		<key>KWDVDNameY</key>
		<string>440</string>
		<key>KWDefaultImage</key>
		<data>
		TU0AKgAAKXCAACBQOCQWDQeEQmFQuGQ2HQ+IRGJROKRWLReMRmNRuOR2PR+Q
		SGRSOSSWTSeUSmVSuWS2XS+YTGZTOaTWbTecTmdTueT2fT+gUGhUOiUWjUek
		UmlUumU2nU+oVGpVOqVWrVesVmtVuuV2vV+wWGxWOyWWzWe0Wm1Wu2W23W+4
		XG5XO6XW7Xe8Xm9Xu+X2/X/AYHBYPCYXDYfEYnFYvGY3HY/IZHJZPKZXLZfM
		ZnNZvOZ3PZ/QaHRaPSaXTafUanVavWa3Xa/YbHZbPabXbbfcbndbveb3fb/g
		cHhcPicXjcfkcnlcvmc3nc/odHpdPqdXrdfsdntdvud3vd/weHxePyeXzef0
		en1ev2e33e/4fH5fP6fX7ff8fn9fv+f3/P/AEAwFAcCQLA0DwRBMFQXBkGwd
		B8IQjCUJwpCsLQvDEMw1DcOQ7D0PxBEMRRHEkSxNE8URTFUVxZFsXRfGEYxl
		GcaRrG0bxxHMdR3Hkex9H8gSDIUhyJIsjSPJEkyVJcmSbJ0nyhKMpSnKkqyt
		K8sSzLUty5LsvS/MEwzFMcyTLM0zzRNM1TXNk2zdN84TjOU5zpOs7TvPE8z1
		Pc+T7P0/0BQNBUHQlC0NQ9EUTRVF0ZRtHUfSFI0lSdKUrS1L0xTNNU3TlO09
		T9QVDUVR1JUtTVPVFU1VVdWVbV1X1hWNZVnWla1tW9cVzXVd15XtfV/YFg2F
		YdiWLY1j2RZNlWXZlm2dZ9oWjaVp2patrWvbFs21bduW7b1v3BcNxXHcly3N
		c90XTdV13Zdt3XfeF43led6Xre173xfN9X3fkdICgAAgUDgkFg0HhEJhULhk
		Nh0PiERiUTikVi0XjEZjUbjkdj0fkEhkUjkklk0nlEplUrlktl0vmExmUzmk
		1m03nE5nU7nk9n0/oFBoVDolFo1HpFJpVLplNp1PqFRqVTqlVq1XrFZrVbrl
		dr1fsFhsVjslls1ntFptVrtltt1vuFxuVzul1u13vF5vV7vl9v1/wGBwWDwm
		Fw2HxGJxWLxmNx2PyGRyWTymVy2XzGZzWbzmdz2f0Gh0Wj0ml02n1Gp1Wr1m
		t12v2Gx2Wz2m12233G53W73m932/4HB4XD4nF43H5HJ5XL5nN53P6HR6XT6n
		V63X7HZ7Xb7nd73f8Hh8Xj8nl83n9Hp9Xr9nt93v+Hx+Xz+n1+33/H5/X7/n
		9/z/wBAMBQHAkCwNA8EQTBUFwZBsHQfCEIwlCcKQrC0LwxDMNQ3DkOw9D8QR
		DEURxJEsTRPFEUxVFcWRbF0XxhGMZRnGkaxtG8cRzHUdx5HsfR/IEgyFIciS
		LI0jyRJMlSXJkmydJ8oSjKUpypKsrSvLEsy1LcuS7L0vzBMMxTHMkyzNM80T
		TNU1zZNs3TfOE4zlOc6TrO07zxPM9T3Pk+z9P9AUDQVB0JQtDUPRFE0VRdGU
		bR1H0hSNJUnSlK0tS9MUzTVN05TtPU/UFQ1FUdSVLU1T1RVNVVXVlW1dV9YV
		jWVZ1pWtbVvXFc11XdeV7X1f2BYNhWHYli2NY9kWTZVl2ZZtnWfaFo2ladqW
		ra1r2xbNtW3blu29b9wXDcVx3JctzXPdF03Vdd2Xbd133heN5Xnel63te98X
		zfV935HSAoAAIFA4JBYNB4RCYVC4ZDYdD4hEYlE4pFYtF4xGY1G45HY9H5BI
		ZFI5JJZNJ5RKZVK5ZLZdL5hMZlM5pNZtN5xOZ1O55PZ9P6BQaFQ6JRaNR6RS
		aVS6ZTadT6hUalU6pVatV6xWa1W65Xa9X7BYbFY7JZbNZ7RabVa7Zbbdb7hc
		blc7pdbtd7xeb1e75fb9f8BgcFg8JhcNh8RicVi8Zjcdj8hkclk8plctl8xm
		c1m85nc9n9BodFo9JpdNp9RqdVq9Zrddr9hsdls9ptdtt9xud1u95vd9v+Bw
		eFw+JxeNx+RyeVy+Zzedz+h0el0+p1et1+x2e12+53e93/B4fF4/J5fN5/R6
		fV6/Z7fd7/h8fl8/p9ft9/x+f1+/5/f8/8AQDAUBwJAsDQPBEEwVBcGQbB0H
		whCMJQnCkKwtC8MQzDUNw5DsPQ/EEQxFEcSRLE0TxRFMVRXFkWxdF8YRjGUZ
		xpGsbRvHEcx1HceR7H0fyBIMhSHIkiyNI8kSTJUlyZJsnSfKEoylKcqSrK0r
		yxLMtS3Lkuy9L8wTDMUxzJMszTPNE0zVNc2TbN03zhOM5TnOk6ztO88TzPU9
		z5Ps/T/QFA0FQdCULQ1D0RRNFUXRlG0dR9IUjSVJ0pStLUvTFM01TdOU7T1P
		1BUNRVHUlS1NU9UVTVVV1ZVtXVfWFY1lWdaVrW1b1xXNdV3Xle19X9gWDYVh
		2JYtjWPZFk2VZdmWbZ1n2haNpWnalq2ta9sWzbVt25btvW/cFw3FcdyXLc1z
		3RdN1XXdl23dd94XjeV53pet7XvfF831fd+R0gKAACBQOCQWDQeEQmFQuGQ2
		HQ+IRGJROKRWLReMRmNRuOR2PR+QSGRSOSSWTSeUSmVSuWS2XS+YTGZTOaTW
		bTecTmdTueT2fT+gUGhUOiUWjUekUmlUumU2nU+oVGpVOqVWrVesVmtVuuV2
		vV+wWGxWOyWWzWe0Wm1Wu2W23W+4XG5XO6XW7Xe8Xm9Xu+X2/X/AYHBYPCYX
		DYfEYnFYvGY3HY/IZHJZPKZXLZfMZnNZvOZ3PZ/QaHRaPSaXTafUanVavWa3
		Xa/YbHZbPabXbbfcbndbveb3fb/gcHhcPicXjcfkcnlcvmc3nc/odHpdPqdX
		rdfsdntdvud3vd/weHxePyeXzef0en1ev2e33e/4fH5fP6fX7ff8fn9fv+f3
		/P/AEAwFAcCQLA0DwRBMFQXBkGwdB8IQjCUJwpCsLQvDEMw1DcOQ7D0PxBEM
		RRHEkSxNE8URTFUVxZFsXRfGEYxlGcaRrG0bxxHMdR3Hkex9H8gSDIUhyJIs
		jSPJEkyVJcmSbJ0nyhKMpSnKkqytK8sSzLUty5LsvS/MEwzFMcyTLM0zzRNM
		1TXNk2zdN84TjOU5zpOs7TvPE8z1Pc+T7P0/0BQNBUHQlC0NQ9EUTRVF0ZRt
		HUfSFI0lSdKUrS1L0xTNNU3TlO09T9QVDUVR1JUtTVPVFU1VVdWVbV1X1hWN
		ZVnWla1tW9cVzXVd15XtfV/YFg2FYdiWLY1j2RZNlWXZlm2dZ9oWjaVp2pat
		rWvbFs21bduW7b1v3BcNxXHcly3Nc90XTdV13Zdt3XfeF43led6Xre173xfN
		9X3fkdICgAAgUDgkFg0HhEJhULhkNh0PiERiUTikVi0XjEZjUbjkdj0fkEhk
		Ujkklk0nlEplUrlktl0vmExmUzmk1m03nE5nU7nk9n0/oFBoVDolFo1HpFJp
		VLplNp1PqFRqVTqlVq1XrFZrVbrldr1fsFhsVjslls1ntFptVrtltt1vuFxu
		Vzul1u13vF5vV7vl9v1/wGBwWDwmFw2HxGJxWLxmNx2PyGRyWTymVy2XzGZz
		Wbzmdz2f0Gh0Wj0ml02n1Gp1Wr1mt12v2Gx2Wz2m12233G53W73m932/4HB4
		XD4nF43H5HJ5XL5nN53P6HR6XT6nV63X7HZ7Xb7nd73f8Hh8Xj8nl83n9Hp9
		Xr9nt93v+Hx+Xz+n1+33/H5/X7/n9/z/wBAMBQHAkCwNA8EQTBUFwZBsHQfC
		EIwlCcKQrC0LwxDMNQ3DkOw9D8QRDEURxJEsTRPFEUxVFcWRbF0XxhGMZRnG
		kaxtG8cRzHUdx5HsfR/IEgyFIciSLI0jyRJMlSXJkmydJ8oSjKUpypKsrSvL
		Esy1LcuS7L0vzBMMxTHMkyzNM80TTNU1zZNs3TfOE4zlOc6TrO07zxPM9T3P
		k+z9P9AUDQVB0JQtDUPRFE0VRdGUbR1H0hSNJUnSlK0tS9MUzTVN05TtPU/U
		FQ1FUdSVLU1T1RVNVVXVlW1dV9YVjWVZ1pWtbVvXFc11XdeV7X1f2BYNhWHY
		li2NY9kWTZVl2ZZtnWfaFo2ladqWra1r2xbNtW3blu29b9wXDcVx3JctzXPd
		F03Vdd2Xbd133heN5Xnel63te98XzfV935HSAoAAIFA4JBYNB4RCYVC4ZDYd
		D4hEYlE4pFYtF4xGY1G45HY9H5BIZFI5JJZNJ5RKZVK5ZLZdL5hMZlM5pNZt
		N5xOZ1O55PZ9P6BQaFQ6JRaNR6RSaVS6ZTadT6hUalU6pVatV6xWa1W65Xa9
		X7BYbFY7JZbNZ7RabVa7Zbbdb7hcblc7pdbtd7xeb1e75fb9f8BgcFg8JhcN
		h8RicVi8Zjcdj8hkclk8plctl8xmc1m85nc9n9BodFo9JpdNp9RqdVq9Zrdd
		r9hsdls9ptdtt9xud1u95vd9v+BweFw+JxeNx+RyeVy+Zzedz+h0el0+p1et
		1+x2e12+53e93/B4fF4/J5fN5/R6fV6/Z7fd7/h8fl8/p9ft9/x+f1+/5/f8
		/8AQDAUBwJAsDQPBEEwVBcGQbB0HwhCMJQnCkKwtC8MQzDUNw5DsPQ/EEQxF
		EcSRLE0TxRFMVRXFkWxdF8YRjGUZxpGsbRvHEcx1HceR7H0fyBIMhSHIkiyN
		I8kSTJUlyZJsnSfKEoylKcqSrK0ryxLMtS3Lkuy9L8wTDMUxzJMszTPNE0zV
		Nc2TbN03zhOM5TnOk6ztO88TzPU9z5Ps/T/QFA0FQdCULQ1D0RRNFUXRlG0d
		R9IUjSVJ0pStLUvTFM01TdOU7T1P1BUNRVHUlS1NU9UVTVVV1ZVtXVfWFY1l
		WdaVrW1b1xXNdV3Xle19X9gWDYVh2JYtjWPZFk2VZdmWbZ1n2haNpWnalq2t
		a9sWzbVt25btvW/cFw3FcdyXLc1z3RdN1XXdl23dd94XjeV53pet7XvfF831
		fd+R0gKAACBQOCQWDQeEQmFQuGQ2HQ+IRGJROKRWLReMRmNRuOR2PR+QSGRS
		OSSWTSeUSmVSuWS2XS+YTGZTOaTWbTecTmdTueT2fT+gUGhUOiUWjUekUmlU
		umU2nU+oVGpVOqVWrVesVmtVuuV2vV+wWGxWOyWWzWe0Wm1Wu2W23W+4XG5X
		O6XW7Xe8Xm9Xu+X2/X/AYHBYPCYXDYfEYnFYvGY3HY/IZHJZPKZXLZfMZnNZ
		vOZ3PZ/QaHRaPSaXTafUanVavWa3Xa/YbHZbPabXbbfcbndbveb3fb/gcHhc
		PicXjcfkcnlcvmc3nc/odHpdPqdXrdfsdntdvud3vd/weHxePyeXzef0en1e
		v2e33e/4fH5fP6fX7ff8fn9fv+f3/P/AEAwFAcCQLA0DwRBMFQXBkGwdB8IQ
		jCUJwpCsLQvDEMw1DcOQ7D0PxBEMRRHEkSxNE8URTFUVxZFsXRfGEYxlGcaR
		rG0bxxHMdR3Hkex9H8gSDIUhyJIsjSPJEkyVJcmSbJ0nyhKMpSnKkqytK8sS
		zLUty5LsvS/MEwzFMcyTLM0zzRNM1TXNk2zdN84TjOU5zpOs7TvPE8z1Pc+T
		7P0/0BQNBUHQlC0NQ9EUTRVF0ZRtHUfSFI0lSdKUrS1L0xTNNU3TlO09T9QV
		DUVR1JUtTVPVFU1VVdWVbV1X1hWNZVnWla1tW9cVzXVd15XtfV/YFg2FYdiW
		LY1j2RZNlWXZlm2dZ9oWjaVp2patrWvbFs21bduW7b1v3BcNxXHcly3Nc90X
		TdV13Zdt3XfeF43led6Xre173xfN9X3fkdICgAAgUDgkFg0HhEJhULhkNh0P
		iERiUTikVi0XjEZjUbjkdj0fkEhkUjkklk0nlEplUrlktl0vmExmUzmk1m03
		nE5nU7nk9n0/oFBoVDolFo1HpFJpVLplNp1PqFRqVTqlVq1XrFZrVbrldr1f
		sFhsVjslls1ntFptVrtltt1vuFxuVzul1u13vF5vV7vl9v1/wGBwWDwmFw2H
		xGJxWLxmNx2PyGRyWTymVy2XzGZzWbzmdz2f0Gh0Wj0ml02n1Gp1Wr1mt12v
		2Gx2Wz2m12233G53W73m932/4HB4XD4nF43H5HJ5XL5nN53P6HR6XT6nV63X
		7HZ7Xb7nd73f8Hh8Xj8nl83n9Hp9Xr9nt93v+Hx+Xz+n1+33/H5/X7/n9/z/
		wBAMBQHAkCwNA8EQTBUFwZBsHQfCEIwlCcKQrC0LwxDMNQ3DkOw9D8QRDEUR
		xJEsTRPFEUxVFcWRbF0XxhGMZRnGkaxtG8cRzHUdx5HsfR/IEgyFIciSLI0j
		yRJMlSXJkmydJ8oSjKUpypKsrSvLEsy1LcuS7L0vzBMMxTHMkyzMyoXTSPU1
		hnNoKzeaU4lvOZGTqfc7sCJk9DRPgZT8AVAGhQRR0IUtDTPRFE0VRbZDlRxE
		UgAtJIYZ9KifS5x0yvFAAET1PC/UCHldUYtVKfNT0ZVNVVXVichxV4gVijBW
		VoblbISEFcixXaMH7XxH2AflhIHWIgF9Y4A2SiRe2YItnH/aC6jraZFWqipE
		2wPFtVbblu29b6AACBQOCQWDQeCHiFIeGQiHQclRFbxOHIyLHOMQ+NQNZR0n
		x+DNORCySRuNlSUK2VSaWS2XS+YTGBBCaOibAecTIAP2eCSfOCgTqhUOiUWj
		UekUmlUumU2nU+oVGpVOqVWrVesVmtVuuV2vV+wWGxWOyWWzWe0Wm1Wu2SyF
		HiGIeiEa6Lu7QYB3lyXsMX2iD/AMLBQMG4V44cA4miI3GHTHW2ukHJL7KUcr
		5dVZnIZvOZ3PZ/QaHRaPSaXTafUanVavWa3Xa/YbGiW+40Qhbdf7mDRElLXf
		URm8EacODC3jNLkUeOrKPk/ZUQx9FOdOjnzrIXsc/tdvud3vd/weHxePyeXz
		ef0en1dvaQ2hj74MP5QZU/UrfeiFv9Kb+QYFP+eUAryAaiEdAyMDm9aCh7Bj
		BGEo4sQi+pUwVCsLQvDEMw1DcOQ7D0PxBEMRRGhKFvcoQcxSZEVoGmgIJsdC
		cAOnRxxqEUbn5HKHGVHgax8ogpSCV8hwwwoGnLJEjJ0nh+hHJxwyhEkpSnKk
		qytK8sSzLUty5LsvKS9q5KHHwamZMyBjPNJMTWog7TcRc4I3MhjzpAaYFzPA
		kT1Dw0T6S8/p0QlBD7Qkv0NQ9EUTRVF0ZRtHUfSFDTCogY0qaFLoHOhjhxTi
		dHpT4OVCw54paM1TEjVAEVUjcVmRIIpHPWMPMSAJJVsNlcJa/hTDBXp91/SN
		g2FYdiWLY1j2RZNlWRSahuMFpqWiE1pmzaqiVQSI4W0nQUW6t4ZXAC1xOQaR
		Z3MSt0H9dUqCLds0jPSoYgJeZn3qT97ljfNl33fl+39f+AYDgWB4IrNmqFbo
		UWqbLsEKPWHyWngS4mb+K4Li+MYzjWN45juPY/kEO4OnSfBJipvqAcAO5WnR
		WZcKuYZDmWZ5pmubZvnGc51nYAZGmQQaBkpeaGogdaNTSYCXpQp6YnR76eNe
		ooGP2qaAECdFHrLcl+h12iKLOwJhS5oVsSSHBhtA3bUnR/7aNu3ntuNcDZcA
		ZJ0a28IsRmeb5vu/b/wHA8FwbX58mNQg4uIu8WnVNaMHSdYePWGp0efLAdzC
		BzWTF3p0R/Pjl0KHE90gw9MmG8GsFfVocPfXUEQidGr2aSBYgZYdw5qdF73g
		id9wngeD4Xh+J4vjeOg3DJhkpo+aBfnp1mAq5cVnI4fyiZcsefMAcgewCzXa
		daGXmvIcbHzhP9KYV+ffngX9iDXMWYmfonU4EXNw7dv3KQJl3gvXfBEeRAOA
		kBYDQHgRAlRjyiXmODo3onTJ2JglSY9ZyZ2XsuXcyQIDMHRzQfJ0OmERfQME
		GAlCcdkKVaE6dWCt1JBh1QxArDMnQQIbDBhw/sWDun/O9d/AqIEQYhRDiJEW
		IxqoGEuXqM9eJOltBwWwURyT2CYvae4QZha0wTE6XEBYdcXyBtKCWLSMhRD7
		hWFXGkgaNwRDdjcTpUYFI5I5H5DqHhMX/wBiPHuPkfY/R/kBIEmMSSpqjcQp
		8ekUnrwYirBp7pBRNSRDLJMnQQ5LGUF8QNhrkiiCBk8ICUD3mwPhJlGkVcZy
		DO4h2/2PEPoBSClhLGWUs5aS1b9IQqTeg6y7KPFORhMIrQbIIFqYgpZjROW1
		FEgUmDJBBKJKaVBAhITTDfNUnSvQwChm1Kl/hzoewAh/LacU45yTlnNOdR0u
		CoufEe6EOUvZFiFcrI4gwGp7JIHKToTs+wyT9QGqN9xRHUwtIGg5BgPSYNtH
		/B0DMIh0zclXN6Vs4JXzootRejFGaNUbPFOoqA9aQAepEO6kkioLzygy9uYR
		Bht0tZKTAZNMVOA4hatEahR32H/AUkxUaSiXjLqADaoRDpVR3JhHmcNHKlVL
		qZU2p1TyvUeI1TZ2pOg/1XEFVmk0VJgT0IQJusE/QyEwVGi4/QWxSVpKVBMg
		dLRtk6k8IGUAgKiTdd3K6qFea9V7r5X2vyJS4InJ1A6CBMoUjsA/YluI9oLV
		cJfMGR5B6z1pFITqEkuw6oII2PiziqgEEbCTaEBlo5TE6qEDaoAy660RrvRS
		v9r7YWxtlbOP1UiHxseaNGnxMZqhvbLY2X9j6vEHcQjUcZOjAA/OsHx8pGjl
		hOugRtt4bQJ3VrmTCGI6oSUKtXUYl9SKK20vFeO8l5bzM7tsQ6ewGq4yTDKT
		ocV8UnAjjoTCX1KJG0qsiQ4bl/b5kwmwoQPt/yNTYFBgcjb96RAeMuFcmE2h
		QzYI3UWVlR68XnwxhnDWG8OLJvSQjBd61WlEC9iVrIo77TxnnfojZ0xOHRDG
		TCuLkgC41Ic08e4IcdIwI2ruFoL8gEwjPaUjWFKJYWtdh3JWS8mZNyciPD5B
		42MnJENOqpMnZjVWfdwll98VxXI0FzMWJyYC6zMXQIxG0eDKBvm17VowGEOQ
		cDPOlASWR0jkBRUeE67Tfj1k/QGgdBaD0IbHKJBotVuifOwol0AnPyJbl6lO
		YCHsrA7fEcRMJEZwI2JnTyfQ0ZVyuQd7VuyWw4GDDYIBLcjWtz/oXWGsdZaz
		1oWDQ5BQVa5Gvru6oE58IyJ0MbYQO9iaRxVpOlZGo3DdjYU3UGnhMnLCbtMp
		od9rCK2xqzPtE9X6129t/cG4dxEt1uQQF258qkDFRuvBpRKDjE3gRvSV+dKE
		bn2J0MW+Sm5tBvmtst0ymu1yztq1mfqkvAICgAAgUDgkFg0HhEJhULhkNh0P
		iERiUTikVi0XjEZjUbjkdj0fkEhkUjkklk0nlEplUrlktl0vmExmUzmk1m03
		nE5jB4niHn0YGVBZ9DgZFoy6pEYWtLJlNhh6qCFqUVedVB1Xh5erShrkeftf
		Bthe9jOVlRtnjzhtQgtkSWFvJ9xiq9uhEu06vF5vV7vl9v1/wGBwWDwmFw2H
		xGJxWLxmNx2PyE2nh4nyHjA2zDLzUDAOdb2ftggjAu0jT00JqB6qSFqlWrEO
		D2xtThjzW2wr3EDKO7V29jyX4Bq4VuuFyil0Xt2ImR5nN53P6HR6XT6nV63X
		7HZ7Xb7nd70RyeVjA68jH80GP3pQPrjCl9xc+GoqNTilVedXB0Sz7eEP9jb3
		FK+AuIGGMCmdA6PKaJillq4hYLiJ65rqu7vwrC0LwxDMNQ3DkOw9D8QRDEUR
		u68KfouH0UmHFaDA7FxwRgAUZIqfkahLG8YHAgzUtW1r7teiBPyEMEiI2Okj
		rORqBghJh3ycjZ8SiCUprGe8HQhCTkwpEkuS7L0vzBMMxTHMkyzNM80Q9EzL
		IuIU3F/OCElvOYkTqjBKTwNs9R2+bWPq1z8oiL9BlBQqNiHRBfUUgx4UaB9H
		oxOZbiVSiKrfB7jIm5DlTTTtPU/UFQ1FUdSVLU1T1QwE1owowil5V6EinWRW
		VojEqg/XB110gcePoib7PwiVcA/HKNymCUnHegxoWYF9nIxPQ2zwSlLOLCLj
		wm5dU23blu29b9wXDcVx3JcqcVWi4k3UXF2ISAt3nLeIK3mjBCXsPt8V5Psf
		WCikc2GirZtChJX4KKGDowEWFG/hlq0xa9NWzc2J4piuLYvjGM41jeOMgK2P
		jFkKMPSPxlZMhg3ZTSglIwd2XC3mB/5kK+aDDmyKnrnNZCmio858H+gIqzRl
		3wPqEuENQnaUip1aarQvZG9LyB0iqhmfnw847rWt65ruva/sGw7FseybLs2z
		7RtO1bXtm27dt+4bjuW57puu7bvvG871ve+b7v2/8BwPBcHwnC8Nw/EcTxXF
		8ZxtSApyDSBchJscqc3LpzAoYgjziDK+fpg9Dx3R9J0vTdP1HU9UiuDihgpX
		oSM/ZE12ic0UXwg9ygx894BHfdX4Hg+F4fieL42x9b1/Y9n2qcdv3Ig933vf
		+P6vrev7Hs+17cP+TgvljP2hNdtRXoekfPfAR7n1/Z9v3ff+H4pp73YIR2Xw
		+am/n90gvefQ9R+UAYBQDgJAWAz636PgfE+R3D/CCP+fTAeCUE4KQVgtBdvM
		CX7PMfG858sDiBwQgBBiEkJYTQnhRClUC8wKg9hcjlqzSgnKXfAKuGznAIkJ
		cuOZKI+EZACYGQhRo8GXDuM4Z1ZwLwRxLGFE1XQ6zkJuCE+eCJFD+ghM6AEg
		w9ouDoi8BOMCiAhv+VeLxnI9SDA5jVFcaUbRqRvIku8AoLI6AmjsNmPA1Y9D
		7j4QxhQIiExnHTIOMAE4pDykQMWRQ9JGEGAvI8BckSEn7IHH+QLOZBjphVJu
		TknZPSfa6GSUT4oskDGjKcRcqRSSrfAfYU0ryEoCQADOWgzJbEJDHLkT0u5I
		gLKQLpqZA2ZD/MmECYy6gkxUhGRGPg+wCTPIMpIR00xWzVX6ACLw6AjzbjeN
		QUc3wtThIMJmcgaZzTDISHOdS9hCRVIIlWdQczgCXINFkf09yEm9FcJOfil1
		HgPIGNugQRqCLFIELGhEMiEgDoZFlGo/CE0IFi62UFFaLUXoxRlTsLgejAo9
		D8hI3KRAkpI+B18mZSkFmmI6eL9xMUvINMMDdMxz01FRTdmgVyEz3H8jmSz/
		XpvqIpM2Z4BCDHmGOCqpU/6Q0iEZU+l4mCGQyFnVUgwqqsBVq0RIStXQ2Vfi
		OAGnhCaqizanIUhMrxTMwC2QOiVCiEUMAHQ5GtEaEUUo1XmvVe6+V9OzKsUl
		bCNv3fFLYZktAZkGdCMGYwQBN2PlEGQgyBxnWIAtZdeI5aikYhFUIidRJoEa
		H1aMA1pSGWPE2Ga1RA2PhWFTa8iswzMA2sNPafBCKH2bIXD0BVvZh1vaXXGh
		pnaH12omwiv1yblEAAECgcEgsGg8IhMKhcMhsOh8QiMSicUisWi8YjMajccj
		sej8gkMikckksmk8olMqlcKAkueMwBUyhKlmo5m4inMJM88TU+Q1APNCg0we
		IQo7QpIvpcGQlOPtQNFSS9UhLmq63rJjrcJfNeBFgir7scuAksAFZW5KtYDt
		rdt4fuMGX90NV2Vd4Fl6gy1vpMv4BwL+wceDGGdOIWOKJ2MhNtAeBAL8ycJx
		SxKGYs+azeczuez+g0Oi0ek0um0+o1Oq1es1uu1+w2Oy2e02u21Ab3Lk3cJZ
		2+GfAK/CVHEnc9nw/5LA5cJnIibPQAvSg03HLI66J7J27cJMHeUPgYviHXkg
		1efNgBHLYAJ9sJopG+Njfdl81eOn4Lv6G38hN9LV4ChKqA0JMGBhAggJYKNq
		DEJJ2Dy7hEWYTE+FUGOyGAVhpkWDP5CXzHuIU8GcI4lQmCglNyKmWYwTmOW1
		kWTPxlWKZgUG3jiOY6juPI9j6P5AkGQpDkSRZGkeSJJkqS2oDKTjNlBCSilM
		X5VDGV2+M5xhnT4mnSAU7phAyY0GG6ZiSmiF4YBebIdKCb5VF9CQ0nSUDNJ+
		eHeGB9noWA9J/AugUJO+hASoZ831QUx6LeQOh1o8iqRQkVKUK2lj2ph7QJQa
		BjBggQBLqEtKjR5RwQPKqIdQlSTQlcMSUrAa6yieCoqNyLGNQhj4xZRCGWja
		TLBsKw7EsWxrHsiybKsuzLNs6z7QjlyQ/etCSetdWxjUsL6sluXUDLK4RNuN
		BqWK0U7oQYpLrfoXUDuYUrxQkML0NG9oPJ0Yr6nx6Z/PSgQLoOhaHWRLkGLn
		CBIwqZhuJHDkJfERoRLs88VmMDKcgeCBlxy30dCvIDXyKqkILPJotI/KRwyu
		tIpiti65Qeu2BjKNGXZm0c5zrO88z3Ps/0DQdC0PRNF0ZLAo0nIjXQnE8RX8
		TMmLO3k+QOshrrAlEGYg6ZsBdBoTFlxCoQMltmGnaEJuMTajLQutvEXcb8WA
		zN1TICkJPDeqNojBkFwgucKEjDMOJHEHxxPFTzxfGaeggR+QLjkkJHLlbVQ4
		1uZPrm8kQfUsoyrLEIiitiv6awEI3dkT16xCemK+8RS0fs+07Xtu37jue67v
		vO976xwP8Hejwh9Y4jF7yKf1QmkDiiDDaQ8/fShoFaEO9A1QH0gvbQkw/evi
		XQG+LcwIWLBVm3/CcLmbheHxKEeK4xBadp9zlvN1CeF5UciZ/0IH/nzPmVcc
		zaA0ocMIyVk5jGUiPZWHBlqtl8L6DEQlhgAoLiQgyg5B4ZIOu/g/CCEMIoRw
		khLCaE8KIUpGGlCwFsLiNojY8QQb0NAQw2IYMSHIPYdkGU+XQX5GzznpfMfR
		vxBHAOCcIw8hDEXEsWTI/NjQQDIt1GYk4GR7yYPBAeQkScXmGQHQ9AkWboIG
		uiIO6RFUBWzCWI3AUTEcIVRyjnHSOsdo7x4jzHqPazg2x+TQJIhiHYLgCeWQ
		YqglypBoIYHqRoh5HkJeeiiQRg5CPkiIomI76nBvsiWQeJr8InsYii44IBAw
		fSoU6RV4adAaP3jCQlz8C3QwPdGrVFUW4WDSA9Lwio4ZfgumCqgeUfJizGmP
		MiZMyplzMmbHtTTUghzSIM5sfSXQ2TYkMQUKM3BXTeIYtuXRCVpn/YAQYYU6
		G7ytkuRRvr6JNOBfWw2TxBpQMUlE415RBU9OFAdP4hg7aAhVoHD8gcsIxxlg
		dBBFRA2kgoLwKsvQLCHjUoqpQKh0BszOo3RyjtHqP0gpDSKkZsVNR+DbKgH0
		A03igPnRchK5hlUyINP4ByIQ9ldK8H6nZDzgAzTiCaoMORiOFWyBmo5Bj5h8
		qWRUoAhjHkGoytcTwO6qotISJurKtntiCAPV4gz94ZEGLiB8LFZoXAtA7Woc
		VbBn1uqyJtxRCTsiJIS5kayAWoQ7B6QlSIiqAjtINIQtYSkKhPf+CAgY4LFm
		WFtY5ztJLI2SsnZSytlrL2YszZqzdnLO2es/aC0NorR2ktLaa09qLU2qtXay
		1trrX2wtjbK2dtLa22tvbi3Nurd28t7b639wLg3CuHcS4txrj3IuTcq5dzLm
		3OufdC6N0rp3Uurda692Ls3au3dy7t3rv3gvDeK8d5Ly3mvPei9N6r13svbe
		6998L43yvnfS+t9r734vzfq/d/L+3+v/gDAOAsB4EwLgbA+CME4KwXgzBuDs
		H4QwjhLCeFMK4WwvhjDOGsN4cw7h7D+IMQ4ixHiTEuJsT4oxTirFeLMW4uxf
		jDGOMsZ40xrjbG+OMc46x3jzHuPsf5AyDkLIeRMi5GyPkjJOSsl5Mybk7J+U
		Mo5SynlTKuVsr5YyzlrLd4yAgIAAIFA4JBYNB4RCYVC4ZDYdD4hEYlE4pFYt
		F4xGY1G45HY9H5BIZFI5JJZNJ5RKZVK5ZLZdL5hMZlM5pNZtN5xOZ1O55PZ9
		P6BQaFQ6JRaNR6RSaVS6ZTadT6hUalU6pVatV6xWa1W65Xa9X7BYbFY7JZbN
		Z7RabVa7Zbbdb7hcblc7pdbtd7xeb1e75fb9f8BgcFg8JhcNh8RicVi8Zjcd
		j8hkclk8plctl8xmc1m85nc9n9BodFo9JpdNp9RqdVq9Zrddr9hsdls9ptdt
		t9xud1u95vd9v+BweFw+JxeNx+RyeVy+Zzedz+h0el0+p1et1+x2e12+53e9
		3/B4fF4/J5fN5/R6fV6/Z7fd7/h8fl8/p9ft9/x+f1+/5/f8/8AQDAUBwJAs
		DQPBEEwVBcGQbB0HwhCMJQnCkKwtC8MQzDUNw5DsPQ/EEQxFEcSRLE0TxRFM
		VRXFkWxdF8YRjGUZxpGsbRvHEcx1HceR7H0fyBIMhSHIkiyNI8kSTJUlyZJs
		nSfKEoylKcqSrK0ryxLMtS3Lkuy9L8wTDMUxzJMszTPNE0zVNc2TbN03zhOM
		5TnOk6ztO88TzPU9z5Ps/T/QFA0FQdCULQ1D0RRMpoCAAA4BAAADAAAAAQLQ
		AAABAQADAAAAAQJAAAABAgADAAAAAwAAKh4BAwADAAAAAQAFAAABBgADAAAA
		AQACAAABEQAEAAAACgAAKiQBEgADAAAAAQABAAABFQADAAAAAQADAAABFgAD
		AAAAAQA8AAABFwAEAAAACgAAKkwBHAADAAAAAQABAAABPQADAAAAAQACAAAB
		UwADAAAAAwAAKnSHcwAHAAACMAAAKnoAAAAAAAgACAAIAAAACAAAAmcAAATG
		AAAHJQAACYQAAAvjAAAOQgAAEKEAABqmAAAnoAAAAl8AAAJfAAACXwAAAl8A
		AAJfAAACXwAAAl8AAAoFAAAM+gAAAdAAAQABAAEAAAIwQURCRQIQAABtbnRy
		UkdCIFhZWiAH0AAIAAsAEwAzADthY3NwQVBQTAAAAABub25lAAAAAAAAAAAA
		AAAAAAAAAAAA9tYAAQAAAADTLUFEQkXeqIOC2JnV9uVztDJHOuE4AAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAApjcHJ0AAAA/AAAADJkZXNjAAAB
		MAAAAGt3dHB0AAABnAAAABRia3B0AAABsAAAABRyVFJDAAABxAAAAA5nVFJD
		AAAB1AAAAA5iVFJDAAAB5AAAAA5yWFlaAAAB9AAAABRnWFlaAAACCAAAABRi
		WFlaAAACHAAAABR0ZXh0AAAAAENvcHlyaWdodCAyMDAwIEFkb2JlIFN5c3Rl
		bXMgSW5jb3Jwb3JhdGVkAAAAZGVzYwAAAAAAAAARQWRvYmUgUkdCICgxOTk4
		KQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAWFlaIAAAAAAA
		APNRAAEAAAABFsxYWVogAAAAAAAAAAAAAAAAAAAAAGN1cnYAAAAAAAAAAQIz
		AABjdXJ2AAAAAAAAAAECMwAAY3VydgAAAAAAAAABAjMAAFhZWiAAAAAAAACc
		GAAAT6UAAAT8WFlaIAAAAAAAADSNAACgLAAAD5VYWVogAAAAAAAAJjEAABAv
		AAC+nA==
		</data>
		<key>KWNextButtonDisable</key>
		<false/>
		<key>KWNextButtonFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWNextButtonFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWNextButtonFontSize</key>
		<integer>24</integer>
		<key>KWNextButtonH</key>
		<integer>50</integer>
		<key>KWNextButtonImage</key>
		<data>
		</data>
		<key>KWNextButtonMaskH</key>
		<string>50</string>
		<key>KWNextButtonMaskImage</key>
		<data>
		</data>
		<key>KWNextButtonMaskLineWidth</key>
		<integer>2</integer>
		<key>KWNextButtonMaskW</key>
		<string>134</string>
		<key>KWNextButtonMaskX</key>
		<string>186</string>
		<key>KWNextButtonMaskY</key>
		<string>47</string>
		<key>KWNextButtonString</key>
		<string>下一個 &gt;</string>
		<key>KWNextButtonW</key>
		<string>130</string>
		<key>KWNextButtonX</key>
		<string>188</string>
		<key>KWNextButtonY</key>
		<integer>40</integer>
		<key>KWPreviousButtonDisable</key>
		<false/>
		<key>KWPreviousButtonFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWPreviousButtonFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWPreviousButtonFontSize</key>
		<integer>24</integer>
		<key>KWPreviousButtonH</key>
		<integer>50</integer>
		<key>KWPreviousButtonImage</key>
		<data>
		</data>
		<key>KWPreviousButtonMaskH</key>
		<string>50</string>
		<key>KWPreviousButtonMaskImage</key>
		<data>
		</data>
		<key>KWPreviousButtonMaskLineWidth</key>
		<integer>2</integer>
		<key>KWPreviousButtonMaskW</key>
		<string>134</string>
		<key>KWPreviousButtonMaskX</key>
		<integer>43</integer>
		<key>KWPreviousButtonMaskY</key>
		<integer>47</integer>
		<key>KWPreviousButtonString</key>
		<string>&lt; 上一個</string>
		<key>KWPreviousButtonW</key>
		<string>130</string>
		<key>KWPreviousButtonX</key>
		<integer>43</integer>
		<key>KWPreviousButtonY</key>
		<integer>40</integer>
		<key>KWRootOverlayImage</key>
		<data>
		</data>
		<key>KWScreenshotAtTime</key>
		<integer>10</integer>
		<key>KWSelectionImagesFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWSelectionImagesFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWSelectionImagesFontSize</key>
		<integer>12</integer>
		<key>KWSelectionImagesH</key>
		<integer>120</integer>
		<key>KWSelectionImagesMaskH</key>
		<integer>124</integer>
		<key>KWSelectionImagesMaskLineWidth</key>
		<integer>2</integer>
		<key>KWSelectionImagesMaskSeperationH</key>
		<integer>180</integer>
		<key>KWSelectionImagesMaskSeperationW</key>
		<integer>210</integer>
		<key>KWSelectionImagesMaskW</key>
		<integer>164</integer>
		<key>KWSelectionImagesMaskX</key>
		<integer>68</integer>
		<key>KWSelectionImagesMaskY</key>
		<integer>368</integer>
		<key>KWSelectionImagesOnAPage</key>
		<integer>6</integer>
		<key>KWSelectionImagesOnARow</key>
		<integer>3</integer>
		<key>KWSelectionImagesSeperationH</key>
		<integer>180</integer>
		<key>KWSelectionImagesSeperationW</key>
		<integer>210</integer>
		<key>KWSelectionImagesUseImage</key>
		<data>
		</data>
		<key>KWSelectionImagesW</key>
		<integer>160</integer>
		<key>KWSelectionImagesX</key>
		<integer>70</integer>
		<key>KWSelectionImagesY</key>
		<integer>370</integer>
		<key>KWSelectionMode</key>
		<integer>0</integer>
		<key>KWSelectionStringsFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWSelectionStringsFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWSelectionStringsFontSize</key>
		<integer>24</integer>
		<key>KWSelectionStringsH</key>
		<integer>34</integer>
		<key>KWSelectionStringsImage</key>
		<data>
		</data>
		<key>KWSelectionStringsMaskH</key>
		<integer>40</integer>
		<key>KWSelectionStringsMaskLineWidth</key>
		<integer>2</integer>
		<key>KWSelectionStringsMaskSeperation</key>
		<integer>50</integer>
		<key>KWSelectionStringsMaskW</key>
		<integer>400</integer>
		<key>KWSelectionStringsMaskX</key>
		<integer>-1</integer>
		<key>KWSelectionStringsMaskY</key>
		<integer>-1</integer>
		<key>KWSelectionStringsOnAPage</key>
		<integer>3</integer>
		<key>KWSelectionStringsSeperation</key>
		<integer>50</integer>
		<key>KWSelectionStringsW</key>
		<integer>720</integer>
		<key>KWSelectionStringsX</key>
		<integer>-1</integer>
		<key>KWSelectionStringsY</key>
		<integer>-1</integer>
		<key>KWStartButtonDisable</key>
		<false/>
		<key>KWStartButtonFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWStartButtonFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWStartButtonFontSize</key>
		<real>48</real>
		<key>KWStartButtonH</key>
		<string>60</string>
		<key>KWStartButtonImage</key>
		<data>
		</data>
		<key>KWStartButtonMaskH</key>
		<string>60</string>
		<key>KWStartButtonMaskImage</key>
		<data>
		</data>
		<key>KWStartButtonMaskLineWidth</key>
		<integer>2</integer>
		<key>KWStartButtonMaskW</key>
		<string>360</string>
		<key>KWStartButtonMaskX</key>
		<string>180</string>
		<key>KWStartButtonMaskY</key>
		<string>310</string>
		<key>KWStartButtonString</key>
		<string>開始</string>
		<key>KWStartButtonW</key>
		<string>360</string>
		<key>KWStartButtonX</key>
		<string>180</string>
		<key>KWStartButtonY</key>
		<string>305</string>
		<key>KWThemeTitle</key>
		<string>預設</string>
		<key>KWTitleButtonDisable</key>
		<false/>
		<key>KWTitleButtonFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWTitleButtonFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWTitleButtonFontSize</key>
		<real>48</real>
		<key>KWTitleButtonH</key>
		<string>60</string>
		<key>KWTitleButtonImage</key>
		<data>
		</data>
		<key>KWTitleButtonMaskH</key>
		<string>60</string>
		<key>KWTitleButtonMaskImage</key>
		<data>
		</data>
		<key>KWTitleButtonMaskLineWidth</key>
		<string>2</string>
		<key>KWTitleButtonMaskW</key>
		<string>360</string>
		<key>KWTitleButtonMaskX</key>
		<string>180</string>
		<key>KWTitleButtonMaskY</key>
		<string>226</string>
		<key>KWTitleButtonString</key>
		<string>標題</string>
		<key>KWTitleButtonW</key>
		<string>360</string>
		<key>KWTitleButtonX</key>
		<string>180</string>
		<key>KWTitleButtonY</key>
		<string>226</string>
		<key>KWTitleSelectionDisable</key>
		<false/>
		<key>KWTitleSelectionFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWTitleSelectionFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWTitleSelectionFontSize</key>
		<integer>24</integer>
		<key>KWTitleSelectionH</key>
		<integer>50</integer>
		<key>KWTitleSelectionImage</key>
		<data>
		</data>
		<key>KWTitleSelectionOverlayImage</key>
		<data>
		</data>
		<key>KWTitleSelectionString</key>
		<string>標題:</string>
		<key>KWTitleSelectionW</key>
		<integer>120</integer>
		<key>KWTitleSelectionX</key>
		<string>30</string>
		<key>KWTitleSelectionY</key>
		<integer>480</integer>
		<key>KWVideoNameDisableText</key>
		<false/>
		<key>KWVideoNameFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWVideoNameFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWVideoNameFontSize</key>
		<real>48</real>
		<key>KWVideoNameH</key>
		<string>80</string>
		<key>KWVideoNameW</key>
		<integer>720</integer>
		<key>KWVideoNameX</key>
		<integer>0</integer>
		<key>KWVideoNameY</key>
		<integer>440</integer>
	</dict>
	<dict>
		<key>KWAltChapterImage</key>
		<data>
		</data>
		<key>KWAltChapterSelectionImage</key>
		<data>
		</data>
		<key>KWAltRootImage</key>
		<data>
		</data>
		<key>KWAltTitleSelectionImage</key>
		<data>
		</data>
		<key>KWChapterButtonDisable</key>
		<false/>
		<key>KWChapterButtonFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWChapterButtonFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWChapterButtonFontSize</key>
		<real>36</real>
		<key>KWChapterButtonH</key>
		<string>50</string>
		<key>KWChapterButtonImage</key>
		<data>
		</data>
		<key>KWChapterButtonMaskH</key>
		<string>50</string>
		<key>KWChapterButtonMaskImage</key>
		<data>
		</data>
		<key>KWChapterButtonMaskLineWidth</key>
		<string>2</string>
		<key>KWChapterButtonMaskW</key>
		<string>320</string>
		<key>KWChapterButtonMaskX</key>
		<string>200</string>
		<key>KWChapterButtonMaskY</key>
		<string>134</string>
		<key>KWChapterButtonString</key>
		<string>章節</string>
		<key>KWChapterButtonW</key>
		<string>320</string>
		<key>KWChapterButtonX</key>
		<string>200</string>
		<key>KWChapterButtonY</key>
		<string>135</string>
		<key>KWChapterOverlayImage</key>
		<data>
		</data>
		<key>KWChapterSelectionDisable</key>
		<false/>
		<key>KWChapterSelectionFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWChapterSelectionFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWChapterSelectionFontSize</key>
		<integer>24</integer>
		<key>KWChapterSelectionH</key>
		<string>50</string>
		<key>KWChapterSelectionImage</key>
		<data>
		</data>
		<key>KWChapterSelectionOverlayImage</key>
		<data>
		</data>
		<key>KWChapterSelectionString</key>
		<string>章節:</string>
		<key>KWChapterSelectionW</key>
		<string>122</string>
		<key>KWChapterSelectionX</key>
		<string>30</string>
		<key>KWChapterSelectionY</key>
		<integer>300</integer>
		<key>KWDVDNameDisableText</key>
		<false/>
		<key>KWDVDNameFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWDVDNameFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWDVDNameFontSize</key>
		<real>48</real>
		<key>KWDVDNameH</key>
		<integer>100</integer>
		<key>KWDVDNameW</key>
		<integer>720</integer>
		<key>KWDVDNameX</key>
		<integer>0</integer>
		<key>KWDVDNameY</key>
		<string>260</string>
		<key>KWDefaultImage</key>
		<data>
		TU0AKgAAHeCAACBQOCQWDQeEQmFQuGQ2HQ+IRGJROKRWLReMRmNRuOR2PR+Q
		SGRSOSSWTSeUSmVSuWS2XS+YTGZTOaTWbTecTmdTueT2fT+gUGhUOiUWjUek
		UmlUumU2nU+oVGpVOqVWrVesVmtVuuV2vV+wWGxWOyWWzWe0Wm1Wu2W23W+4
		XG5XO6XW7Xe8Xm9Xu+X2/X/AYHBYPCYXDYfEYnFYvGY3HY/IZHJZPKZXLZfM
		ZnNZvOZ3PZ/QaHRaPSaXTafUanVavWa3Xa/YbHZbPabXbbfcbndbveb3fb/g
		cHhcPicXjcfkcnlcvmc3nc/odHpdPqdXrdfsdntdvud3vd/weHxePyeXzef0
		en1ev2e33e/4fH5fP6fX7ff8fn9fv+f3/P/AEAwFAcCQLA0DwRBMFQXBkGwd
		B8IQjCUJwpCsLQvDEMw1DcOQ7D0PxBEMRRHEkSxNE8URTFUVxZFsXRfGEYxl
		GcaRrG0bxxHMdR3Hkex9H8gSDIUhyJIsjSPJEkyVJcmSbJ0nyhKMpSnKkqyt
		K8sSzLUty5LsvS/MEwzFMcyTLM0zzRNM1TXNk2zdN84TjOU5zpOs7TvPE8z1
		Pc+T7P0/0BQNBUHQlC0NQ9EUTRVF0ZRtHUfSFI0lSdKUrS1L0xTNNU3TlO09
		T9QVDUVR1JUtTVPVFU1VVdWVbV1X1hWNZVnWla1tW9cVzXVd15XtfV/YFg2F
		YdiWLY1j2RZNlWXZlm2dZ9oWjaVp2patrWvbFs21bduW7b1v3BcNxXHcly3N
		c90XTdV13Zdt3XfeF43led6Xre173xfN9X3fkdICgAAgUDgkFg0HhEJhULhk
		Nh0PiERiUTikVi0XjEZjUbjkdj0fkEhkUjkklk0nlEplUrlktl0vmExmUzmk
		1m03nE5nU7nk9n0/oFBoVDolFo1HpFJpVLplNp1PqFRqVTqlVq1XrFZrVbrl
		dr1fsFhsVjslls1ntFptVrtltt1vuFxuVzul1u13vF5vV7vl9v1/wGBwWDwm
		Fw2HxGJxWLxmNx2PyGRyWTymVy2XzGZzWbzmdz2f0Gh0Wj0ml02n1Gp1Wr1m
		t12v2Gx2Wz2m12233G53W73m932/4HB4XD4nF43H5HJ5XL5nN53P6HR6XT6n
		V63X7HZ7Xb7nd73f8Hh8Xj8nl83n9Hp9Xr9nt93v+Hx+Xz+n1+33/H5/X7/n
		9/z/wBAMBQHAkCwNA8EQTBUFwZBsHQfCEIwlCcKQrC0LwxDMNQ3DkOw9D8QR
		DEURxJEsTRPFEUxVFcWRbF0XxhGMZRnGkaxtG8cRzHUdx5HsfR/IEgyFIciS
		LI0jyRJMlSXJkmydJ8oSjKUpypKsrSvLEsy1LcuS7L0vzBMMxTHMkyzNM80T
		TNU1zZNs3TfOE4zlOc6TrO07zxPM9T3Pk+z9P9AUDQVB0JQtDUPRFE0VRdGU
		bR1H0hSNJUnSlK0tS9MUzTVN05TtPU/UFQ1FUdSVLU1T1RVNVVXVlW1dV9YV
		jWVZ1pWtbVvXFc11XdeV7X1f2BYNhWHYli2NY9kWTZVl2ZZtnWfaFo2ladqW
		ra1r2xbNtW3blu29b9wXDcVx3JctzXPdF03Vdd2Xbd133heN5Xnel63te98X
		zfV935HSAoAAIFA4JBYNB4RCYVC4ZDYdD4hEYlE4pFYtF4xGY1G45HY9H5BI
		ZFI5JJZNJ5RKZVK5ZLZdL5hMZlM5pNZtN5xOZ1O55PZ9P6BQaFQ6JRaNR6RS
		aVS6ZTadT6hUalU6pVatV6xWa1W65Xa9X7BYbFY7JZbNZ7RabVa7Zbbdb7hc
		blc7pdbtd7xeb1e75fb9f8BgcFg8JhcNh8RicVi8Zjcdj8hkclk8plctl8xm
		c1m85nc9n9BodFo9JpdNp9RqdVq9Zrddr9hsdls9ptdtt9xud1u95vd9v+Bw
		eFw+JxeNx+RyeVy+Zzedz+h0el0+p1et1+x2e12+53e93/B4fF4/J5fN5/R6
		fV6/Z7fd7/h8fl8/p9ft9/x+f1+/5/f8/8AQDAUBwJAsDQPBEEwVBcGQbB0H
		whCMJQnCkKwtC8MQzDUNw5DsPQ/EEQxFEcSRLE0TxRFMVRXFkWxdF8YRjGUZ
		xpGsbRvHEcx1HceR7H0fyBIMhSHIkiyNI8kSTJUlyZJsnSfKEoylKcqSrK0r
		yxLMtS3Lkuy9L8wTDMUxzJMszTPNE0zVNc2TbN03zhOM5TnOk6ztO88TzPU9
		z5Ps/T/QFA0FQdCULQ1D0RRNFUXRlG0dR9IUjSVJ0pStLUvTFM01TdOU7T1P
		1BUNRVHUlS1NU9UVTVVV1ZVtXVfWFY1lWdaVrW1b1xXNdV3Xle19X9gWDYVh
		2JYtjWPZFk2VZdmWbZ1n2haNpWnalq2ta9sWzbVt25btvW/cFw3FcdyXLc1z
		3RdN1XXdl23dd94XjeV53pet7XvfF831fd+R0gKAACBQOCQWDQeEQmFQuGQ2
		HQ+IRGJROKRWLReMRmNRuOR2PR+QSGRSOSSWTSeUSmVSuWS2XS+YTGZTOaTW
		bTecTmdTueT2fT+gUGhUOiUWjUekUmlUumU2nU+oVGpVOqVWrVesVmtVuuV2
		vV+wWGxWOyWWzWe0Wm1Wu2W23W+4XG5XO6XW7Xe8Xm9Xu+X2/X/AYHBYPCYX
		DYfEYnFYvGY3HY/IZHJZPKZXLZfMZnNZvOZ3PZ/QaHRaPSaXTafUanVavWa3
		Xa/YbHZbPabXbbfcbndbveb3fb/gcHhcPicXjcfkcnlcvmc3nc/odHpdPqdX
		rdfsdntdvud3vd/weHxePyeXzef0en1ev2e33e/4fH5fP6fX7ff8fn9fv+f3
		/P/AEAwFAcCQLA0DwRBMFQXBkGwdB8IQjCUJwpCsLQvDEMw1DcOQ7D0PxBEM
		RRHEkSxNE8URTFUVxZFsXRfGEYxlGcaRrG0bxxHMdR3Hkex9H8gSDIUhyJIs
		jSPJEkyVJcmSbJ0nyhKMpSnKkqytK8sSzLUty5LsvS/MEwzFMcyTLM0zzRNM
		1TXNk2zdN84TjOU5zpOs7TvPE8z1Pc+T7P0/0BQNBUHQlC0NQ9EUTRVF0ZRt
		HUfSFI0lSdKUrS1L0xTNNU3TlO09T9QVDUVR1JUtTVPVFU1VVdWVbV1X1hWN
		ZVnWla1tW9cVzXVd15XtfV/YFg2FYdiWLY1j2RZNlWXZlm2dZ9oWjaVp2pat
		rWvbFs21bduW7b1v3BcNxXHcly3Nc90XTdV13Zdt3XfeF43led6Xre173xfN
		9X3fkdICgAAgUDgkFg0HhEJhULhkNh0PiERiUTikVi0XjEZjUbjkdj0fkEhk
		Ujkklk0nlEplUrlktl0vmExmUzmk1m03nE5nU7nk9n0/oFBoVDolFo1HpFJp
		VLplNp1PqFRqVTqlVq1XrFZrVbrldr1fsFhsVjslls1ntFptVrtltt1vuFxu
		Vzul1u13vF5vV7vl9v1/wGBwWDwmFw2HxGJxWLxmNx2PyGRyWTymVy2XzGZz
		Wbzmdz2f0Gh0Wj0ml02n1Gp1Wr1mt12v2Gx2Wz2m12233G53W73m932/4HB4
		XD4nF43H5HJ5XL5nN53P6HR6XT6nV63X7HZ7Xb7nd73f8Hh8Xj8nl83n9Hp9
		Xr9nt93v+Hx+Xz+n1+33/H5/X7/n9/z/wBAMBQHAkCwNA8EQTBUFwZBsHQfC
		EIwlCcKQrC0LwxDMNQ3DkOw9D8QRDEURxJEsTRPFEUxVFcWRbF0XxhGMZRnG
		kaxtG8cRzHUdx5HsfR/IEgyFIciSLI0jyRJMlSXJkmydJ8oSjKUpypKsrSvL
		Esy1LcuS7L0vzBMMxTHMkyzNM80TTNU1zZNs3TfOE4zlOc6TrO07zxPM9T3P
		k+z9P9AUDQVB0JQtDUPRFE0VRdGUbR1H0hSNJUnSlK0tS9MUzTVN05TtPU/U
		FQ1FUdSVLU1T1RVNVVXVlW1dV9YVjWVZ1pWtbVvXFc11XdeV7X1f2BYNhWHY
		li2NY9kWTZVl2ZZtnWfaFo2ladqWra1r2xbNtW3blu29b9wXDcVx3JctzNQB
		90kNdYk3aCF3mdeI93mZN6q6BN8EBfQo34C9/GlgBBYEXeCXPg2D4QgQBYWD
		GGokdeIH3iSDAjit8ASiRz40f+OAbjxn5AEeRISfuSihk5aZSq4DZYY2XBnm
		CE44f4x5qT+b4TnKAACBQOCQWDQeEQmFQuGQ2HQ+IRGJROKRWLReMRmNRuOR
		2PR+QSGRSOSSWTSeUSmVSuMBqXOWYRIcTNkzWDNycCOdQ9pz0XT+Bo2hHKiQ
		90UcPUl90uWSg609FVGHvOqCCrO6sU2tVuuV2vV+wWGxWOyWWzWe0Wm1Wu2W
		23W+4XG5XO6XW7Xe8Q6XBqYOWJDTAM3BQMeYVh4eJGHFKDGQNnY8Y5GJDDKN
		HLXmDrfNEjORLOEhc6HMaPSaXTafUanVavWa3Xa/YbHZbPabXbbeB3u+5PK5
		eBJvgGThUajh/jPrkQNr8sUc2JYUeMXpahf9UgdeJFTtK3ubjvd/weHxePye
		Xzef0en1ev2e317qYxEWfNq/UE/ejugHfuHn3/EJACDMYUAvwKh58wQCkFHp
		BjUERB47wih5/QoEULHDDD3JCgKAACBQOCQWDQeEQmFQuGQ2HQ+IRGJROKRW
		LReMRmNRuOR2PR+QSGRSOSSWTSeUSmVSuWS2XS+YTGZTOaTWbTecTmdTuPBq
		fOWgRIT0NtUUs0dTUmHvemB2nO2oQYPVNqVUG1eGHatIuuTyNhGwNaxBiyQx
		G2c6WmvWu2W23W+4XG5XO6XW7Xe8Xm9Xu+X2/X/AYHBYOVT4NUByxIR4tvY1
		c48jZGHpjKGnLQwYZlP5vMjCBvPQHrRJXSP/TYSBiXVJ7WDzXQN8bFC7NEbV
		+bfUbndbveb3fb/gcHhcPicXjcfkcnlcuB4bERIP9Hbvxx9UBdeGaZ/ijuUV
		tRIL+EJePvP3zcYJ+myBjvPv3cz4fH5fP6fX7ff8fn9fv+f3/Pk5ygoiDcCC
		7AzakQh5ZwWJ0Gv/B8IQjCUJwpCsLQvDEMw1DcOQ6gUAsSiLwguYEShTE6Hi
		DFUSmAhgsRe1hPIeXEaClGxCRwOUdIeMMelTH6DGzISnA6hgryPBZZoGBcmH
		RJwByghh6SmDkqh3K5ayyh5ny5K4dw9MEwzFMcyTLM0zzRNM1TWm8QIkJE4R
		oXCHmdOoZzuh4tz0Uk+IeW0/iXQIlUHLJaoeQ9ENEPTmp/ASGj3SBDUkgYf0
		rFiHljTIoU2IlOl3T86TtPE2VJUtTVPVFU1VVdWVbVyZTciJRVmL1aoeLlcF
		LXU8z3PqHT+W1AiWB1iHdY0oAGhhaWWJtmoGKloFXaSHqSU09C2gatDsRNuI
		eM9vk1cNOiJT5d1CZ07hnV913Zdt3XfeF43led6MBWKINAeargahhyX8EWAP
		cfdeC3PhST9QFAoGZeGBphyGHDiIQYmgZHYsOOMIeaONs6gZXY+KOQofIl/H
		Jcdy3PdN65XlmW5dl+YZjmWZzPe6QjvnBFZ0iVr4NhFg4UgSuEWtI6IeB+kH
		lpRkaYG+nIe2J8AZqbzH6xDDIYaWtBfriB5PUCHTrdFR5psuzbOgAAgUDgkF
		g0HhEJhULhkNh0PiERiUTikVi0XjEZjUbjkdj0fkEhkUjkklk0nlEplUrlkt
		l0vmEZDUzcs1kh7nCGnUSLc9Uk/h62oRLokDJlHWdJh47pjNpzyqAGqUSE1V
		edXc9Zh6Hrh6r0DIlhXdjh7OswztExtVrtltt1vuFxuVzul1u13vF5vV7vl9
		v1/wGBwWDwmFw0wmYamrliT2xwKyEMdWTD+VfGXh89Lc/UlBodFgQP0Tu0gC
		00MM2pp2rZsVJ2vfmxoS2h492zE3FgsVkh1mZ1oGeH4XD4nF43H5HJ5XL5nN
		53P6HR6XT6nV42JxcSUfbLvdh5q8CX8WZn1Ah2zohLgzM9nAhiN+DX+Sc+kJ
		2L8An5gxy/gI/ydEMhjSHcC0Cn7A7dCIsZdrKs60utCEIwlCcKQrC0LwxDMN
		Q3DkOw9D8PuwmyIrCIheROh5vRUqoTQOfqGM0zjPFs9KDPgRr+DkhhaR4bsf
		DfICDH1IZkSKH0joMS0lAdJguSchhTyiLUpoNEsFwa38HxBLcuS7L0vzBMMx
		THMkyzNM80ObETGIiCs3F1OAYzkh8pi1KJTxg8rOvOz71IKJtAFlQSGGpQsV
		G814nIMZ9GNWMlHoMpJZgxSga0shjui7GSCys3iGt89001FUdSVLU1T1RVNV
		VXVlW1chs1okDNZinWpKVuh5o10GFeTyzbzIa9DQIICFinbY7TAEhKoHkcFn
		BdaCDE9acfG6QtroM3wSW3JgHISf1wAvcR2XJKrdwY3sHODV92Xbd133heN5
		Xnel63tUdYoiDt9npfqsnO/wEIeJOCFxgyExjYCGWFPyDt9OQYoYfOJgPiqD
		DbjEBlLjaDYmfOKgOhkimQHOSoTTt0U/dV75ZluXZfmGY5lmeaZrlt8ogEOd
		WccDtlHJwuIeYOhiBouET1GcaoQR2mDjpyMB5qNwH8Y2qowPusEJrWT3PLFQ
		5tsGw7FseybLs2z7RtKS5wh4S7cbm4aKIBf7oiWShzkaDYTPdgz6hNEljwKK
		6m0QHgbw5zcSjDgN9rkFU8hlQS1tXKcry3L8xzPNc3zkKbYhwU9CbHRgD0pt
		dPbYSIfwJYih129aRPkaWGgwI9tch2WSiXTm0E/fdKALHHtgKJX+Dfjn/5PH
		SvdMs3Xzvoej6Xp+p6vrev7CDc+hoW+7QpqIGPPxQAh/kn+Ff0Pka6B73pPa
		IRRhn14GCJFT+wsfwgfRmx3wToktMTwY4BEMZQ15yb2YEQJgVAuBkDYHQPQ4
		9shjEBoQVIGrMDI4oNH5AIQ8UMHwwQhfY7Fvrs2GkJEfCkOEKyJB4hcImGBA
		2DC4CPDUiStQpiuh1ARrrzWvwQiBEGIUQ4iRFiNEckMEiFqWBqewZhBlBCyU
		AE0h4+4rAjiwOOLT7XZNKIUE+MAsIxEShqEdOAuiBiYjUGeNkVYrATjgVcec
		PHHspciyuJEeY9R7j5H2P0f21RKIU3dvJBXAOCIiJCRTTg4xchLF4hLtgIrH
		Ha8Ah6BQLDrk0QMO8nRESfIeL6UQQ5SEPgLD6A8gJVSrlZK2V0r5YIbeAAmW
		hEjLj4amQaWctSItTluAOYDICHouY8Q+WgCZLELfMPeZhBoOFSANG6K0ViHr
		JeIQ6XxmJYzbm5N2b035wThnFOOck5ZzTnnROmdAC52IsIMtVZhJ1kgvnoQZ
		xI5h0z5nVPufk/Z/T/oBQEuLUQeDDoMQaKaPBaEnW6PGhxBicB7fJQKilFaL
		UXoxRmgNBKDDDoQoChVDEmUOHjRAnJO6NUppVSullLaXQPo5QdP9IEeUiAdS
		Sk1EqUUvp5T2n1P6gVBXvTGj1Mwm0hJNQ2h5BaI0TqFU+qFUapVTqohJZLU6
		iUfqPTUkFV1wVKpLUyk6ASOzAAGi4hNZq0ERq8P4j1akEVVrlXOulda7StTc
		BV+wqSmA7gqNBW4lBRWDq0pl+ZA4nGaCrYtrQhCBtTBtZFj0AApWVg0OIOtm
		Yo05qcQk8AakgBvIMEq0gm7TG2B6Mq1ViwqqUAwKq2AHrZC5topkeFtyDBst
		0GW3gKrfRaHHGIWD4g8zFIEZyJliD2J3tMJtYoED6CcYwG0gadwZXXIGMu7T
		QGNilBpd8gZq0613vJeW81570MsjOEW9hBncAUvhVpu5Xg9EDtuPCSVgQ137
		IGMm/wOMACMwEHPAl7lyXwApZynZCQ+YNEHg8gxq4fkCROLx44G3QgpIMVwQ
		99CBniEuGjERDDcDESOD58zQxg4nIGNLFzqTIAKtHaQW+NRi43B1jkgYwseA
		/x9jwYVqCB43GLQS9OR8kZJyVktLoIMnKHmSABF005rkEimszFRBosAjFNl0
		G+XyBh/zFhye+CCDD1zROwBeCqyEKwaHzB4gyQt0F+ELOzd2qjGIG+YVefYw
		BPmEQJOqd8VYsIjhy+mRMcg6x3j3H+PMhECyJkbJmldLaX0xpk4oUdOQ6FcQ
		a/Ya57iv1JVq2guUBgM1UQMKmrTOZVu+DSkg29aEGjUJgReuVq05WZb4FRBh
		p7BjgBPOJBrYCqwADi2QHkkpKtZXkgdf2IYgxEGggdl4QhgEDtvSIABWbftZ
		oVJBAkXM+2yQa5pqQzaKx0QLIGPgf5A27pNqOmt7b33xvnfRMA079SUJYg2y
		ZKa0G3VqhTrFEkDubbwMpAx0cPMTovEpBt1XNeFMcgdEbUBI44pEpNqhlbFI
		LsNa4hdqkDRdmp1kZSBq6Gi/MXvMc7BCIltJOW4gfEDfVr5ZjhwGkDujwzdm
		jN3aO3jpA22Q8b6U3303p3T+odRIVGwM+tyDYnQG9/gyPNQ2BIGNnsD/SBif
		7IGLs2i8iW5t1iBj0HOMk443x0gqkuQciIJmqT4iLpkDX6PTnxs2CBJ5artX
		lHemT5HThUhLuIVhw5wQPPNfZNDrzMQLoNvOh+QarX3EtfSB4l271L0XoyAA
		CBQOCQWDQeEQmFQuGQ2HQ+IRGJROKRWLReMRmNRuOR2PR+QSGRSOSSWTSeUS
		mVSuCk6XLGYQZOzN3zU6TeDE2dLSeCSfNugQwq0NWUUQ0dvUmDMCmKmnJeoQ
		Y91OZp0E1eDPatGauIOvQYF2FE2M2WWBvS0A21La2Em3QNo3EYXNPXUw3eBu
		W9Ce+G+/BDAPvBNDCKvDMHED7FQNjY0d4915EKZOBpzLGXMLnNEbOQN1Z+dE
		1X6MNaWB5pckjVSzWa3Xa/YbHZbPabXbbfcbndbveb3fb/gcHhcPicXjcfkc
		nlRMLc1yc8C9GJaGeLSB0lvUcQwbBPvJhR5eEBeNv+UPeeJVM9ob2Qw+e+vI
		OwWFEfU2/ez2m1223wK4miuYYLcJK2Fsgx9QQA0FIMMUGk/B6mGAH8JsYxzI
		MkyiBMsTjMDK+L3j4iT4j9EjlxNE8URTFUVxZFsXRfGEYxlGcaRrG0bxxHMd
		IvDYxx8gxwSCEEhpynaeIGqBLjRJaDF/JwhSggy/DeSEqyBIUiIK9T2EM9z4
		K+gqwgW+pEPuNr8notQGwLAa4LkuaBlJOQtzohhdzuJU8n5PcIwmH8KmMx4d
		sidbvsqy7MMACBh0YFlHIYadIh7SZ40rHdL0xTNNU3TlO09T9QVDUVR1JUtT
		VOhLogKQVWCBVxnVgpxUyWNCDEXW5n1ygYeV4NVfIMV1gqKViEjdYyhiqcdl
		EZZibjog1ZJgWKGCjatkIMMFsizbYj26gZ8XBBoxDtckAoGcN0DzdSDC7drQ
		p8Eh0XkWt6E3e0EH0gY+32FN+oGbWAEBgRM4JNSBl9hENoGBWGLuMLQgxiN5
		HQWeKweT6tHtVGN45juPY/kGQ5FkeSZLk2T5RlOVZXlmW5dl+YZjmWZ5pmub
		ZvnGc51neeZ7n2f6BoOhaHomi6No+kaTpWl6ZpunafqGo6lqeqarq2r6xrOt
		a3rmu69r+wbDsWx7JsuzbPtG07Vte2bbt237huO5bnum67tu+8bzvW975vu/
		b/wHA8FwfCcLw3D8RxPFcXxnG8dx/IcjyXJ8pyvLcvzHM81zfOc7z3P9B0PR
		dH0nS9N0/UdT1XV9Z1vXdf2HY9l2fadr23b9x3Pdd33ne993/geD4Xh+J4vj
		eP5Hk+V5fmeb53n+h6Ppen6nq+t6/sez7XXoCIAAIFA4JBYNB4RCYVC4ZDYd
		D4hEYlE4pFYtF4xGY1G45HY9H5BIZFI5JJZNJ5RKZVK5ZLZdL5hMZlM5pNZt
		N5xOZ1O55PZ9P6BQaFQ6JRaNR6RSaVS6ZTadT6hUalU6pVatV6xWa1W65Xa9
		X7BYbFY7JZbNZ7RabVa7Zbbdb7hcblc7pdbtd7xeb1e75fb9f8BgcFg8JhcN
		h8RicVi8Zjcdj8hkclk8plctl8xmc1m85nc9n9BodFo9JpdNp9RqdVq9Zrdd
		r9hsdls9ptdtt9xud1u95vd9v+BweFw+JxeNx+RyeVy+Zzedz+h0el0+p1et
		1+x2e12+53e93/B4fF4/J5fN5/R6fV6/Z7fd7/h8fl8/p9ft9/x+f1+/5/f8
		/8AQDAUBwJAsDQPBEEwVBcGQbB0HwhCMJQnCkKwtC8MQzDUNw5DsPQ/EEQxF
		EcSRLE0TxRFMVRXFkWxdF8YRjGUZxpGsbRvHEcx1HceR7H0fyBILPoCAAAAO
		AQAAAwAAAAEC0AAAAQEAAwAAAAEBgAAAAQIAAwAAAAMAAB6OAQMAAwAAAAEA
		BQAAAQYAAwAAAAEAAgAAAREABAAAAAcAAB6UARIAAwAAAAEAAQAAARUAAwAA
		AAEAAwAAARYAAwAAAAEAPAAAARcABAAAAAcAAB6wARwAAwAAAAEAAQAAAT0A
		AwAAAAEAAgAAAVMAAwAAAAMAAB7Mh3MABwAAAjAAAB7SAAAAAAAIAAgACAAA
		AAgAAAJnAAAExgAAByUAAAmEAAANcAAAHGkAAAJfAAACXwAAAl8AAAJfAAAD
		7AAADvkAAAF2AAEAAQABAAACMEFEQkUCEAAAbW50clJHQiBYWVogB9AACAAL
		ABMAMwA7YWNzcEFQUEwAAAAAbm9uZQAAAAAAAAAAAAAAAAAAAAAAAPbWAAEA
		AAAA0y1BREJF3qiDgtiZ1fblc7QyRzrhOAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAKY3BydAAAAPwAAAAyZGVzYwAAATAAAABrd3RwdAAAAZwA
		AAAUYmtwdAAAAbAAAAAUclRSQwAAAcQAAAAOZ1RSQwAAAdQAAAAOYlRSQwAA
		AeQAAAAOclhZWgAAAfQAAAAUZ1hZWgAAAggAAAAUYlhZWgAAAhwAAAAUdGV4
		dAAAAABDb3B5cmlnaHQgMjAwMCBBZG9iZSBTeXN0ZW1zIEluY29ycG9yYXRl
		ZAAAAGRlc2MAAAAAAAAAEUFkb2JlIFJHQiAoMTk5OCkAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAFhZWiAAAAAAAADzUQABAAAAARbMWFla
		IAAAAAAAAAAAAAAAAAAAAABjdXJ2AAAAAAAAAAECMwAAY3VydgAAAAAAAAAB
		AjMAAGN1cnYAAAAAAAAAAQIzAABYWVogAAAAAAAAnBgAAE+lAAAE/FhZWiAA
		AAAAAAA0jQAAoCwAAA+VWFlaIAAAAAAAACYxAAAQLwAAvpw=
		</data>
		<key>KWNextButtonDisable</key>
		<false/>
		<key>KWNextButtonFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWNextButtonFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWNextButtonFontSize</key>
		<integer>24</integer>
		<key>KWNextButtonH</key>
		<integer>50</integer>
		<key>KWNextButtonImage</key>
		<data>
		</data>
		<key>KWNextButtonMaskH</key>
		<string>50</string>
		<key>KWNextButtonMaskImage</key>
		<data>
		</data>
		<key>KWNextButtonMaskLineWidth</key>
		<integer>2</integer>
		<key>KWNextButtonMaskW</key>
		<string>134</string>
		<key>KWNextButtonMaskX</key>
		<string>186</string>
		<key>KWNextButtonMaskY</key>
		<string>47</string>
		<key>KWNextButtonString</key>
		<string>下一個 &gt;</string>
		<key>KWNextButtonW</key>
		<string>133</string>
		<key>KWNextButtonX</key>
		<string>188</string>
		<key>KWNextButtonY</key>
		<integer>39</integer>
		<key>KWPreviousButtonDisable</key>
		<false/>
		<key>KWPreviousButtonFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWPreviousButtonFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWPreviousButtonFontSize</key>
		<integer>24</integer>
		<key>KWPreviousButtonH</key>
		<integer>50</integer>
		<key>KWPreviousButtonImage</key>
		<data>
		</data>
		<key>KWPreviousButtonMaskH</key>
		<string>50</string>
		<key>KWPreviousButtonMaskImage</key>
		<data>
		</data>
		<key>KWPreviousButtonMaskLineWidth</key>
		<integer>2</integer>
		<key>KWPreviousButtonMaskW</key>
		<string>130</string>
		<key>KWPreviousButtonMaskX</key>
		<integer>43</integer>
		<key>KWPreviousButtonMaskY</key>
		<integer>47</integer>
		<key>KWPreviousButtonString</key>
		<string>&lt; 上一個</string>
		<key>KWPreviousButtonW</key>
		<string>130</string>
		<key>KWPreviousButtonX</key>
		<integer>43</integer>
		<key>KWPreviousButtonY</key>
		<integer>39</integer>
		<key>KWRootOverlayImage</key>
		<data>
		</data>
		<key>KWScreenshotAtTime</key>
		<integer>10</integer>
		<key>KWSelectionImagesFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWSelectionImagesFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWSelectionImagesFontSize</key>
		<integer>16</integer>
		<key>KWSelectionImagesH</key>
		<integer>120</integer>
		<key>KWSelectionImagesMaskH</key>
		<integer>124</integer>
		<key>KWSelectionImagesMaskLineWidth</key>
		<integer>2</integer>
		<key>KWSelectionImagesMaskSeperationH</key>
		<integer>180</integer>
		<key>KWSelectionImagesMaskSeperationW</key>
		<integer>210</integer>
		<key>KWSelectionImagesMaskW</key>
		<integer>164</integer>
		<key>KWSelectionImagesMaskX</key>
		<integer>68</integer>
		<key>KWSelectionImagesMaskY</key>
		<integer>186</integer>
		<key>KWSelectionImagesOnAPage</key>
		<integer>3</integer>
		<key>KWSelectionImagesOnARow</key>
		<integer>3</integer>
		<key>KWSelectionImagesSeperationH</key>
		<integer>180</integer>
		<key>KWSelectionImagesSeperationW</key>
		<integer>210</integer>
		<key>KWSelectionImagesUseImage</key>
		<data>
		</data>
		<key>KWSelectionImagesW</key>
		<integer>160</integer>
		<key>KWSelectionImagesX</key>
		<integer>70</integer>
		<key>KWSelectionImagesY</key>
		<integer>188</integer>
		<key>KWSelectionMode</key>
		<integer>0</integer>
		<key>KWSelectionStringsFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWSelectionStringsFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWSelectionStringsFontSize</key>
		<integer>24</integer>
		<key>KWSelectionStringsH</key>
		<integer>34</integer>
		<key>KWSelectionStringsImage</key>
		<data>
		</data>
		<key>KWSelectionStringsMaskH</key>
		<integer>40</integer>
		<key>KWSelectionStringsMaskLineWidth</key>
		<integer>2</integer>
		<key>KWSelectionStringsMaskSeperation</key>
		<integer>50</integer>
		<key>KWSelectionStringsMaskW</key>
		<integer>400</integer>
		<key>KWSelectionStringsMaskX</key>
		<integer>-1</integer>
		<key>KWSelectionStringsMaskY</key>
		<integer>-1</integer>
		<key>KWSelectionStringsOnAPage</key>
		<integer>3</integer>
		<key>KWSelectionStringsSeperation</key>
		<integer>50</integer>
		<key>KWSelectionStringsW</key>
		<integer>720</integer>
		<key>KWSelectionStringsX</key>
		<integer>-1</integer>
		<key>KWSelectionStringsY</key>
		<integer>-1</integer>
		<key>KWStartButtonDisable</key>
		<false/>
		<key>KWStartButtonFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWStartButtonFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWStartButtonFontSize</key>
		<real>36</real>
		<key>KWStartButtonH</key>
		<string>50</string>
		<key>KWStartButtonImage</key>
		<data>
		</data>
		<key>KWStartButtonMaskH</key>
		<string>50</string>
		<key>KWStartButtonMaskImage</key>
		<data>
		</data>
		<key>KWStartButtonMaskLineWidth</key>
		<integer>2</integer>
		<key>KWStartButtonMaskW</key>
		<string>320</string>
		<key>KWStartButtonMaskX</key>
		<string>200</string>
		<key>KWStartButtonMaskY</key>
		<string>200</string>
		<key>KWStartButtonString</key>
		<string>開始</string>
		<key>KWStartButtonW</key>
		<string>320</string>
		<key>KWStartButtonX</key>
		<string>200</string>
		<key>KWStartButtonY</key>
		<string>196</string>
		<key>KWThemeTitle</key>
		<string>預設</string>
		<key>KWTitleButtonDisable</key>
		<false/>
		<key>KWTitleButtonFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWTitleButtonFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWTitleButtonFontSize</key>
		<real>36</real>
		<key>KWTitleButtonH</key>
		<string>50</string>
		<key>KWTitleButtonImage</key>
		<data>
		</data>
		<key>KWTitleButtonMaskH</key>
		<string>50</string>
		<key>KWTitleButtonMaskImage</key>
		<data>
		</data>
		<key>KWTitleButtonMaskLineWidth</key>
		<string>2</string>
		<key>KWTitleButtonMaskW</key>
		<string>320</string>
		<key>KWTitleButtonMaskX</key>
		<string>200</string>
		<key>KWTitleButtonMaskY</key>
		<string>134</string>
		<key>KWTitleButtonString</key>
		<string>標題</string>
		<key>KWTitleButtonW</key>
		<string>320</string>
		<key>KWTitleButtonX</key>
		<string>200</string>
		<key>KWTitleButtonY</key>
		<string>134</string>
		<key>KWTitleSelectionDisable</key>
		<false/>
		<key>KWTitleSelectionFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWTitleSelectionFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWTitleSelectionFontSize</key>
		<integer>24</integer>
		<key>KWTitleSelectionH</key>
		<integer>50</integer>
		<key>KWTitleSelectionImage</key>
		<data>
		</data>
		<key>KWTitleSelectionOverlayImage</key>
		<data>
		</data>
		<key>KWTitleSelectionString</key>
		<string>標題:</string>
		<key>KWTitleSelectionW</key>
		<integer>120</integer>
		<key>KWTitleSelectionX</key>
		<string>30</string>
		<key>KWTitleSelectionY</key>
		<integer>300</integer>
		<key>KWVideoNameDisableText</key>
		<false/>
		<key>KWVideoNameFont</key>
		<string>Futura-CondensedExtraBold</string>
		<key>KWVideoNameFontColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>KWVideoNameFontSize</key>
		<real>48</real>
		<key>KWVideoNameH</key>
		<integer>100</integer>
		<key>KWVideoNameW</key>
		<integer>720</integer>
		<key>KWVideoNameX</key>
		<integer>0</integer>
		<key>KWVideoNameY</key>
		<string>260</string>
	</dict>
</array>
</plist>
